 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&display=swap');
.main {
    text-align: left;
    margin-top: 20px;
    margin-left: 50px;
}
.logo-container {
    float: left;
}
.banner {
    text-align: center;
    margin-top: 20px;
}
.nav {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #3f4955;
    margin: 20px 30px;
    gap: 50px;
}
.navbar {
    display: block;
    text-decoration: none;
    font-weight: bold;
    width: 100px;
    height: 40px;
    color: #3f4955;
    background-color: #ffe6ac;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}
.navbar:hover {
    background-color: #b17a57;
    color: #ffffff;
}
.content-title {
    position: relative;
    text-align: left;
    color: #ffe6ac;
    margin: 5px 100px 5px 150px;
}
.content {
    position: relative;
    text-align: left;
    color: #3f4955;
    margin: 5px 10px 5px;
    background-color: #ffe6ac;
    max-width: 800px;
    padding: 20px;
    line-height: 1.5;
    border-radius: 8px;
    margin: 5px 50px 5px 150px;
    box-sizing: border-box;
}
