 @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&display=swap');
.wrapper {
    display: grid;
    grid-template-rows: 100px 300px 420px 400px;
    grid-template-columns: 50vw 700px;
    grid-template-areas:
        "main nav"
        "banner banner"
        "con contacts"
        "cool history";
}

 .main {
    margin-top: 20px;
    margin-left: 50px;
    grid-area: main;
}
.logo-container {
    float: left;
    margin-top: -10px;
}
.title {
    font-family: 'Noto Serif TC', 'Noto Serif', serif;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-left: 30px;
    margin-top: -10px;
}

.subtitle {
    font-family: 'Noto Serif TC', 'Noto Serif', serif;
    font-size: 16px;
    color: #ffffffc0;
    margin-left: 40px;
    margin-top: -20px;
}
.banner {
    width: 1450px;
    height: 300px;
    border: 0px solid;
    justify-self: center;
    background-image: url("sea_wmark.png");
    background-size: cover;
    grid-area: banner;
}
.nav {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-self: right;
    margin-top: 20px;
    gap: 30px;
    grid-area: nav;
}
.navbar {
    display: block;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 180px;
    height: 40px;
    padding: 10px 0;
    color: #ffe6ac;;
    box-sizing: border-box;
}
.navbar:hover {
    background-color: #b17a57;
    color: #ffffff;
}
.con {
    grid-area: con;
    justify-self: center;
}
.content-title {
    position: relative;
    text-align: left;
    color: #ffe6ac;
}
.content {
    position: relative;
    text-align: left;
    color: #3f4955;
    background-color: #ffe6ac;
    max-width: 600px;
    padding: 20px;
    line-height: 1.5;
    border-radius: 8px;
    box-sizing: border-box;
}
.contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-self: center;
    color: #ffe6ac;
    margin-left: 50px;
    gap: 20px;
    grid-area: contacts;
}
.mail {
    text-align: left;
    color: #ffe6ac;
}
.cbar {
    display: block;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    width: 180px;
    height: 40px;
    padding: 10px 0;
    color: #3f4955;
    background-color: #ffe6ac;
    border-radius: 8px;
    box-sizing: border-box;
}
.cbar:hover {
    background-color: #b17a57;
    color: #ffffff;
}
.cool {
    position: relative;
    text-align: left;
    justify-self: center;
    max-width: auto;
    max-height: 400px;
    color: #ffe6ac;
    grid-area: cool;
}   
.history {
    position: relative;
    text-align: left;
    justify-self: center;
    border: 1px solid #ffe6ac;
    color: #ffe6ac;
    max-width: 600px;
    padding: 20px;
    line-height: 1.5;
    border-radius: 8px;
    box-sizing: border-box;
    grid-area: history;
}
.his-title {
    text-align: left;
    color: #ffe6ac;
    margin-top: -10px;
}
.footer-text {
    text-align: center;
    color: #ffe6ac;
    font-size: 12px;
    margin-top: 50px;
    margin-bottom: 20px;
}
